body {
    margin: 0px;
    background-image: url(./shara\ desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navbar {
    width: 95%;
    position: absolute;
    left: 5%;
    top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
}

.logo:hover {
    cursor: pointer;
}

.logo1 img {
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    gap: 60px;
    align-content: center;
    width: 600px;
    background: none;
}

.table li {
    display: inline-block;
    list-style-type: none;
    margin-left: 60px;

}

.table li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    background: none;
}

.layout {
    display: flex;
    width: 90%;
    position: absolute;
    top: 20%;
    gap: 350px;
    left: 5%;
    color: white;
}

h1 {
    font-size: 90px;
    margin: 0;
}

.about {
    align-self: center;
}

.button {
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
    color: black;
    width: 220px;
    height: 30px;
    text-align: center;
    padding-top: 2%;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.box {
    width: 300px;
    height: 350px;
    transition: transform .5s ease;
    border-radius: 15px;
    padding-left: 25px;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-15px);
}

.box1 {
    background-image: url(./pic-1.png);
    background-size: cover;
}

.box2 {
    background-image: url(./pic-2.png);
    background-size: cover;
}

.box3 {
    background-image: url(./pic-3.png);
    background-size: cover;
}

.box4 {
    background-image: url(./pic-4.png);
    background-size: cover;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
    body {
        background-image: url(./shara\ desert.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .layout {
        flex-direction: column;
        gap: 20px;
        top: 10%;
    }

    .about {
        align-self: normal;
    }

    .grid {
        grid-template-columns: auto;
        margin-left: 8%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-image: url(./shara\ desert.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .layout {
        flex-direction: column;
        gap: 20px;
        top: 10%;
    }

    .about {
        align-self: normal;
    }

    .grid {
        grid-template-columns: auto;
        margin-left: 8%;
    }

    .box {
        width: 90%;
    }
}